


<!-- <router-outlet></router-outlet> -->

<h1>Customer Transactions</h1>
<input [(ngModel)]="searchKey"  type="text" id="searchInput" placeholder="Search by customer name or amount">

<table>
    <thead>
        <tr>
          <th>Customer Name</th>
          <th>Total Transaction Amount</th>
          <th>Transactions per day</th>
          <th>View Chart</th>
        </tr>
    </thead>
    <tbody id="transactionTable">
      <tr *ngFor="let user of users | search: searchKey; trackBy: trackByUserId">
          <td>
            <img [src]="getPhotoUrl(user.id)" alt="{{user.name}}" />
            {{user.name}}
          </td>
          <td>{{user.totalTransactionAmount}}</td>
          <td>{{user.transactionsPerDay}}</td>
          <td> <a (click)="onUserSelect(user.id)">view</a></td>
      </tr>

       </tbody>
</table>
<div id="chartContainer">
  <canvas id="myChart" width="400" height="400"></canvas>
</div>
